[SddmGreeterTheme]
Name=MonoBlack
Description=Strict monochrome (black / white / gray) theme for SDDM
Type=sddm-theme
Version=2.1
Website=https://github.com/charlz-ferra/dotfiles
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=MonoBlack
Theme-API=2.0
License=MIT
QtVersion=6
